@model List<webshop.Models.MerchandiseModel>

@{
    ViewBag.Title = "Home Page";
    var cart = Session["Cart"];

}
<div class="container">
    @*<div class="row">
        <div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>*@
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div>
                <div class="thumbnail">
                    <img src="@Url.Content("/Content/img/" + item.Productimg)" alt="">
                </div>
                <h3>@item.Name</h3>
                @*<p>
                    @item.Dscription
                </p>*@
                <div>
                    @item.Price Kr@*<a href="/home/addtocart/@(item.Id)">*@<button type="button" name="Add to Cart" class="btn btn-primary add" data-set="@(item.Id)">Add To Cart</button>@*</a>*@
                </div>
            </div>
        </div>
    }

</div><!--end container-->